﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Bean Counter Coffee</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="/store">Catalog</a></li>
                <li><a class="navbar-brand" href="/order">Order</a></li>
                <li><a class="navbar-brand" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>