﻿<div class="container body-content">
    <div class="jumbotron">
        <h1 class="img-responsive" style="text-align:center;"><img src="../../Content/images/bean-counter-coffee.png" /></h1>
        <p class="lead">A wholesale coffee company that can sell green coffee beans wholesale by the pound. 
        This way, our customers are able to develop their own roasting and brewing techniques while 
        using some of the best coffee beans in the world.</p>
        <!--<p><a href="/home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Catalog</h2>
            <p>
                See a catalog full of coffee beans from beans come from farms in various countries, 
                including Costa Rica, Colombia, Kenya, Indonesia, Jamaica, Thailand and Sri Lanka.
            </p>
            <p><a class="btn btn-default" href="/store">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Order</h2>
            <p></p>Order coffee beans from seven categories: Light & Subtle, Light & Distinctive, 
                    Medium & Smooth, Dark & Distinctive, Decaffeinated, Flavored and Reserve.
            <p><a class="btn btn-default" href="/order">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Contact</h2>
            <p>Contact us with any questions you have about our company and coffee beans.</p>
            <p><a class="btn btn-default" href="/contact">Learn more &raquo;</a></p>
        </div>
    </div>
    <hr />
    <footer>
        <p>&copy; 2017 - The Bean Counter Coffee Company</p>
    </footer>
</div>