﻿<div class="container body-content">
    <div class="jumbotron">
        <carousel>
            <slide *ngFor="let product of products">
                <img src="{{product.Url}}" style="width:100%;display:block;">
                <div class="carousel-caption">
                    <h3>{{product.Name}}</h3>
                    <p>{{product.Price | currency: 'USD':true }}</p>
                </div>
            </slide>
        </carousel>
    </div>
    <hr />
    <footer>
        <p>&copy; 2017 - The Bean Counter Coffee Company</p>
    </footer>
</div>