﻿<div class="container">
    <div class="jumbotron jumbotron-bigger" >
        <h1 style="text-align:center">Order Submitted</h1>
        <div class="content">
            <div class="col-md-12 text-center">Your order was submitted successfully.  Your order number is {{id}}.
                    Your delivery date is {{deliveryDate | date: 'M/d/yyyy'}}.
            </div>
            <div class="col-md-12 text-center">
                <h3><b>Customer Information</b></h3>
            </div>
            <div class="col-md-12 text-center">
                <b>First and Last Name:</b>  {{firstName}}  {{lastName}}
            </div>
            <div class="col-md-12 text-center">
                <b>Street Address:</b> {{streetAddress}}
            </div>
            <div class="col-md-12 text-center">
                <b>City, State Zip:</b> {{city}}, {{state}}  {{zip}} 
            </div>
            <br>
            <div class="col-md-12">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th style="text-align:center">Product</th>
                                <th style="text-align:center">Price / Unit</th>
                                <th style="text-align:center">Quantity</th>
                                <th style="text-align:center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="form-group text-center" *ngFor="let article of articles; let i = index">
                                <td>{{article.Name}}</td>
                                <td>{{article.UnitPrice| currency : 'USD' :true}}</td>
                                <td>{{article.Quantity}}</td>
                                <td>{{article.ProductTotalAmount | currency: 'USD' :true}}</td>
                            </tr>
                            <tr class="form-group text-center">
                                <td><strong>TOTAL</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{orderTotalAmount | currency : 'USD' :true}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>