﻿<div class="container body-content">
    <div class="jumbotron jumbotron-bigger">
        <h2 style="text-align:center">Customer Information</h2>
        <table class="table table-responsive">
            <tr class="form-group">
                <td><b>First Name:</b></td>
                <td><input type="text" class="form-control col-xs-2" [(ngModel)]="firstName"></td>
                <td><b>Last Name:</b></td>
                <td><input type="text" class="form-control col-xs-2" [(ngModel)]="lastName" ></td>
            </tr>
            <tr class="form-group">
                <td><b>Street Address:</b></td>
                <td class=""><input type="text" class="form-control" [(ngModel)]="streetAddress"></td>
            </tr>
            <tr class="form-group">
                <td><b>City:</b></td>
                <td><input type="text" class="form-control col-xs-2" [(ngModel)]="city"></td>
                <td><b>State:</b></td>
                <td><input type="text" class="form-control col-xs-2" [(ngModel)]="state"></td>
                <td><b>Zip Code:</b></td>
                <td><input type="text" class="form-control col-xs-2" [(ngModel)]="zipCode"></td>
            </tr>
        </table>
        <h2 style="text-align:center">Order Form</h2>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th style="text-align:center">Product</th>
                    <th style="text-align:center">Price / Unit</th>
                    <th style="text-align:center">Quantity</th>
                    <th style="text-align:center">Total</th>
                    <th style="text-align:center">Add/Remove Row</th>
                </tr>
            </thead>
            <tbody>
                <tr class="form-group" *ngFor="let article of articles; let i = index">
                    <td>
                        <select-product (change)="productChange($event.target.value,article)"></select-product>
                    </td>
                    <td class="hide"><input type="hidden" value="article.ProductId"/></td>
                    <td>
                        <input type="text" class="form-control col-xs-2" value="{{article.UnitPrice| currency : 'USD' :true}}" readonly >
                    </td>
                    <td>
                        <input type="number" class="form-control col-xs-2" min=0 value="{{article.Quantity}}" [(ngModel)]="article.Quantity" (change)="quantityChange(article)">
                    </td>
                    <td>
                        <input type="text" class="form-control col-xs-2" value="{{article.ProductTotalAmount | currency: 'USD' :true}}" readonly >
                    </td>
                    <td style="text-align:center">
                        <button class="glyphicon glyphicon-remove" *ngIf="articles.length > 1" (click)="removeRow(i)"></button>
                    </td>
                </tr>
                <tr class="form-group">
                    <td><b>TOTAL</b></td>
                    <td></td>
                    <td></td>
                    <td><input type="text" class="form-control col-xs-2" value="{{orderTotalAmount | currency : 'USD' :true}}" readonly ></td>
                    <td style="text-align:center">
                        <button class="glyphicon glyphicon-plus" (click)="addEmptyRow()"></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 text-left">
            <label>Delivery Date:</label>
            <input class="form-control" 
                    placeholder="Delivery Date" 
                    bsDatepicker 
                    [minDate]="minDate" 
                    [bsConfig]="bsConfig"
                    [(ngModel)]="deliveryDate"
                    #dp="bsDatepicker">
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-right">
                <button type="button" class="btn btn-primary btn-lg" (click)="submit()">Submit</button>
        </div>
        <div bsModal #deliveryDateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Required Field</h4>
                    </div>
                    <div class="modal-body text-center">
                        There needs to be a Delivery Date for the order to be submitted.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="hideDeliveryDateModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>