﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-color: #ede1d1;
}

.navbar-inverse .navbar-brand {
    color: #ede1d1;
}

.navbar-inverse .navbar-nav li a {
    color: #ede1d1;
}

.btn-lg, .btn-primary:hover {
    background-color: #ede1d1;
    color: #3c2817;
    border-color: #3c2817;
}

.btn-primary:hover {
    background-color: #3c2817;
    color: #ede1d1;
}

li {
    padding-left:50px;
}

.jumbotron-bigger {
    padding-bottom: 25%;
}

.carousel.slide .carousel-item {
    position: relative;
    min-height: 527px;
    max-height: 527px;
}

@media (max-width: 576px) {
    .carousel.slide .carousel-item {
        height: 527px;

    }
}

.item {
    width: 100%;
    height: 100%;
    position: absolute;
}
.image
{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}