﻿<div class="container body-content">
    <div class="jumbotron">
        <h2>The Bean Counter Coffee</h2>

        <address>
            100 Main Street<br />
            Winston-Salem, NC  27103<br />
            <abbr title="Phone">P:</abbr>
            336.414.6232
        </address>

        <address>
            <strong>Email:</strong>   <a href="mailto:askamrath@gmail.com">askamrath@gmail.com</a>
        </address>
    </div>
</div>
